<h2>You're represented by:</h2>
<%= link_to "#{@senior.firstname} #{@senior.lastname}", @senior.website %>
<br><br>
<%= link_to "#{@junior.firstname} #{@junior.lastname}", @junior.website %>
<br><br>
<%= link_to "#{@representative.firstname} #{@representative.lastname}", @representative.website %>
